# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Calculator-api.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\arjun\source\personal\repos\seezle\calculator-api\Calculator-api\.idea\.idea.Calculator-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
