calculator-api/Calculator-api/Calculator-api/obj/
calculator-api/Calculator-api/Calculator-api/bin/
calculator-api/Calculator-api/tests/Calculator-api-tests/bin/
calculator-api/Calculator-api/tests/Calculator-api-tests/obj/
